# For 1 to use mdq, else 0
RENATER_SP_USE_MDQ="1"
# test => test / fer => FER
RENATER_SP_MDQ_URL="https://mdq.federation.renater.fr/test"
RENATER_SP_TEST_OR_PROD="TEST"

RENATER_SP_ENTITY_ID="https://apollo-dev.theses.fr/sp"
RENATER_SP_ADMIN_MAIL="admin@theses.fr"
RENATER_SP_HTTPD_SERVER_NAME="https://apollo-dev.theses.fr"
RENATER_SP_HTTPD_LOG_LEVEL="info ssl:warn"
RENATER_SP_HTTPD_PROTECTED_PATH="/my-protected-url/"
RENATER_SP_HTTPD_PUBLIC_PROXY_TO="http://backend-example:8080/"
RENATER_SP_HTTPD_PROTECTED_PROXY_TO="http://backend-example:8080/"
